/**************************** About me ****************************/
/* structure */
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: linear-gradient(#E2EFFA 25%, #FFF7D5  25%), linear-gradient(#E2EFFA 25%, #FFF7D5  25%);
  line-height: 1.75;
}
/* typography */
h1 {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-weight:bold;
  text-align: center;
}
h2 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
p {
  font-family: "Cabin", "Open Sans", sans-serif;
  font-size: 1.6rem;
  max-width:66ch;
  padding-bottom: 2rem;
}
/* nav */
.navbar {
  display: none;
}
.hamburger-nav {
  background-color: #fff;
  height: 5rem;
  opacity: .95;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
.cm-logo {
  height: 5.12rem;
  left:1rem;
  position: absolute;
  top: -.06rem;
  width:auto;
  z-index: 5;
}
.btn-toggle-nav {
  background-image: url("/images/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  z-index: 5;
}
.nav-menu {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  right: 0;
  top: 5rem;
  transition: all .7s ease-in-out;
  width: 0rem;
  z-index: 5;
}
.nav-menu ul {
  padding: 0 .5rem 5rem;
  visibility: hidden;
}
.nav-menu ul li {
  list-style: none;
  padding-top: 5rem;
}
.nav-menu ul li a  {
  color: #056BBD;
  display: block;
  font-family: "Montserrat", "Open Sans", "sans-serif";
  font-size: 2.4rem;
  font-weight: 600;
  height: 6rem;
  opacity: 0;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-sidear ul li a:hover {
  background-color: #fff;
}
/* hero */
.hero {
  background-color: #fff;
  border-bottom-right-radius: 7.5rem;
  padding: 7.5rem 2rem 3rem;
  position: relative;
  width: 100vw;
}
.hero h1 {
  position: relative;
  width: 100%;
}
.photo img {
  border-radius: 5%;
  margin: 2.5rem 0;
  max-width:100%;
}
/* block */
.block {
  background-color: #E3EFFA;
  margin-top: -6rem;
  padding: 11rem 2rem;
}
/* conclusion */
.conclusion {
  background-color: #fff;
  border-radius: 7.5rem 0;
  bottom: 6rem;
  padding: 5rem 2rem 3rem;
  position: relative;
}
/* connect */
footer img {
  width: 5rem;
}
.connect {
  background-color: #056BBD;
  border-top-left-radius: 10rem;
  padding-top: 5rem;
  text-align: center;
}
.connect > h2 {
  color: #fff;
  max-width: none;
}
.social {
  display: flex;
  grid-gap: 2rem;
  justify-content: center;
  margin: 5rem auto 0;
  padding-bottom: 2rem;
  width: 50%;
}
/*******************MEDIA QUERIES*********************/
/* TABLET */
@media screen and (min-width: 45rem) {
  .hero, .block, .conclusion {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  .hero {
    display: grid;
    grid-column-gap: 2.5rem;
    grid-template-areas:
    "about      about"
    "p-one      p-one"
    "photo      p-two"
    "p-three    p-three"
    "p-four     p-four";
    grid-template-columns: 1fr 1fr;
}
  .hero h1 {
    grid-area: about;
  }
  .photo {
    grid-area: photo;
    max-width: 30rem;
  }
  .text {
    max-width: 66ch;
  }
  .p-one {
    grid-area: p-one;
    padding-top: 5rem;
  }
  .p-two {
    grid-area: p-two;
    padding-top: 3rem;
  }
  .p-three {
    grid-area: p-three;
  }
  .p-four {
    grid-area: p-four;
  }
  /* block */
  .block {
    padding: 10rem 5rem;
  }
  /* conclusion */
  .conclusion {
    padding: 5rem;
  }
  /* CONTACT */
  .social {
    max-width: 33%;
  }
}
/* DESKTOP */
@media screen and (min-width: 70rem) {
  /* typography */
  h1 {
    font-family: "Ubuntu", "Open Sans", sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: left;
  }
  /* nav */
  .navbar {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 5.7rem;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .navbar a {
    color: #056BBD;
    font-family: "Cabin", "Open Sans", sans-serif;
    font-size: 1.6rem;
  }
  .hamburger-nav {
    display: none;
  }
  .links {
    align-items: center;
    display: flex;
    grid-gap: 20rem;
    justify-content: flex-end;
    width: 100%;
  }
  nav a {
    text-decoration: none;
  }
  nav a img {
    width: auto;
  }
  .hero, .block, .conclusion {
    margin: auto;
    padding-left: 25%;
    padding-right: 25%;
  }
  /* .container {
    grid-template-columns: 25% 1fr 25%;
    grid-template-areas:
    ".   hero       ."
    ".   block      ."
    ".   conclusion .";
  } */
  /* hero */
  /* .hero {
    grid-area: hero;
    padding: 5rem 25%;
  } */
  .hero h1 {
    text-align: left;
    padding-top: 5rem;
    /* margin: 5rem 40rem 0; */
    /* max-width: 110rem; */
  }

  /* .hero {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas:
    ". about      p-one   ."
    ". photo      p-two  ."
    ". p-two     p-two    ."
    ". p-three    p-three  ."
    ". p-four     p-four   .";
    padding:5rem;
  } */
  /* .photo img {
  max-width: 50rem;
  } */
  h2 {
    max-width: 70ch;
    min-width: 40ch;
  }
  .block {
    grid-area: block;
    margin-top: -5rem;
  }
  .conclusion {
    grid-area: conclusion;
  }
  /* CONNECT */
  footer img {
    width: 5rem;
  }
  .connect > h2 {
    font-size: 2.4rem;
    max-width: none;
  }
  #contact {
    margin-top: 5rem;
  }
  .social {
    grid-gap: 5rem;
    margin-top: 5rem;
    width: 75%;
  }
}
