/**************************************camelot case study***/
/*#E3EFFA #FFF7D5*/
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: linear-gradient(#E2EFFA 25%, #FFF7D5  25%);
  line-height: 1.75;
}
.cta {
  background-color: #056BBD;
  border-radius: 5rem;
  color: #fff;
  display: block;
  font-family: "Montserrat","Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 5rem auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: max-content;
}
/************************************************structure***/
img {
  width: 100%;
}
section.prob-sol > figure, section.conclusion > figure, section.more > div > figure {
  width: 25% ;
}
/***********************************************typography***/
h1 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-family: "Montserrat", "Open Sans",sans-serif;
  font-size: 2.4rem;
  font-weight:600;
  line-height: 3.3rem;
  text-align: center;
}
h4, p, li, ul, figcaption {
  font-family: "Cabin", "Open Sans", sans-serif;
  font-size: 1.6rem;
}
p {
  max-width: 70ch;
  padding-bottom: 2rem;
}
span, figcaption {
  font-weight: bold;
}
figcaption {
  text-align: center;
}
ul {
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}
 ul > li {
  font-size: 1.4rem;
  font-weight: normal;
  padding: .25rem 0;
  text-align: center;
}
/**************************NAV**************************/
.navbar {
  display: none;
}
 .hamburger-nav {
  background-color: #fff;
  height: 5rem;
  opacity: .95;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
.cm-logo {
  height: 5.12rem;
  left:1rem;
  position: absolute;
  top: -.06rem;
  width:auto;
  z-index: 5;
}
.btn-toggle-nav {
  background-image: url("/images/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  z-index: 5;
}
.nav-menu {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  right: 0;
  top: 5rem;
  transition: all .7s ease-in-out;
  width: 0rem;
  z-index: 5;
}
.nav-menu ul {
  padding: 0 .5rem 5rem;
  visibility: hidden;
}
.nav-menu ul li {
  list-style: none;
  padding-top: 5rem;
}
.nav-menu ul li a  {
  color: #056BBD;
  display: block;
  font-family: "Montserrat", "Open Sans", "sans-serif";
  font-size: 2.4rem;
  font-weight: 600;
  height: 6rem;
  opacity: 0;
  padding: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-sidear ul li a:hover {
  background-color: #fff;
}
/**********************************************************************HERO***/
.hero {
  background-color: #fff;
  border-bottom-right-radius: 7.5rem;
  grid-gap: 2rem;
  padding: 7.5rem 1rem 1rem;
  width: 100%;
}
.camelot-logo, .camelot-landing, .text-hero {
  padding: 1rem 0;
}
/**********************************************PROBLEM/SOLUTION******/
.prob-sol {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin: 0 2rem;
  padding: 5rem 1rem 0;
  text-align: center;
}
.icon-prob {
  display: flex;
  margin: 0 auto;
  max-width: 6rem;
  padding: 3.5rem 0 5rem;
}
.icon-sol {
  display: flex;
  margin: 0 auto;
  max-width: 7rem;
  padding: 2.5rem 0 5rem;
}
/*****************************************************************DISCOVERY***/
.discovery {
  background-color: #fff;
  border-radius: 7.5rem 0 7.5rem;
  padding: 5rem 0;
  position: relative;
}
.text-disc {
  padding-bottom: 2.5rem;
  text-transform: uppercase;
}
.user-research {
  padding: 1rem;
}
.chart {
  margin: 0 auto;
  width: 30rem;
}
  /******************************************************************STRATEGY***/
.strategy {
  background-color:#FFF7D5;
  margin-top: -7rem;
  padding: 12rem 0 13rem;
}
.text-strat  {
  padding:2.5rem;
  text-transform: uppercase;
}
          /***competitive analysis***/
.comp-analysis {
  padding: 0 1rem;
}
             /****user personas***/
.text-personas {
  padding: 0 1rem;
}
.thomas, .danny {
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
  box-shadow: 0 .2rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem 2rem;
  max-width: 70ch;
  min-width: 60ch;
  padding: 2rem;
}
figure.thomas > img, figure.danny > img {
  margin: 0 auto;
  padding: 1rem;
  width: 75%;
}
div.persona-img > figure > ul > li {
  font-size: 1.6rem;
}
/**************************************************INFORMATION ARCHITECTURE***/
.info-arch {
  background-color:#FFF;
  border-radius: 7.5rem 0 7.5rem;
  margin-top: -8rem;
  padding: 5rem 0 1rem 0;
  position: relative;
}
.text-info > h3 {
  padding: 0 1rem 2.5rem;
  text-transform: uppercase;
}
         /*******user stories*************/
.stories {
  padding: 0 1rem;
}
.list-stories {
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
  box-shadow: 0 .2rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 2.5rem;
  justify-content: center;
  margin: auto;
  max-width: 30rem;
}
.high-pri {
  padding: 2rem 0 1rem;
  text-decoration: underline;
  width: 75%;
}
.new-user {
  padding-bottom:2rem;
  width: 27rem;
}
.returning-user {
  width: 27rem;
}
                 /***user flows***/
.text-flows {
  margin: 0 1rem;
  padding-top: 5rem;
}
.img-flows {
  display: flex;
  flex-direction: column;
  grid-gap: 5rem;
  padding-bottom: 2.5rem;
}
.img-flows-mq {
  display: none;
}
                 /***wireframes***/
.text-wireframes {
  margin: 2.5rem 1rem 0.5rem;
}
                  /***mockups***/
.text-mockups {
  margin: 5rem 1rem 0;
}

/*************************************************************VISUAL DESIGN***/
.visual-design {
  background-color:#E3EFFA;
  margin-top: -6rem;
  padding-top: 12rem;
  padding-bottom: 20rem;
}
.text-visual > h3 {
  padding-bottom: 2.5rem;
  text-transform: uppercase;
}
                  /***logo***/
.text-logo-1 {
  margin: 0 1rem;
  padding-bottom: .5rem;
}
.text-logo-2 {
  margin: 0 1rem;
  padding: .5rem 0;
}
.camel-sketch, .castle {
  box-shadow: 0 .2rem rgba(0, 0, 0, 0.25);
  margin: 0 .5rem;
}
               /***typography***/
.text-type {
  padding: 5rem 1rem .5rem;
}
               /***style guide***/
.img-style {
  display: flex;
}
.img-style-media {
  display: none;
}
.text-style {
  padding: 5rem 1rem .5rem;
}
                /***prototypes***/
.prototypes {
  margin-top: 5rem;
}
.prototypes > h4 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.text-prototypes {
  margin: 0 1rem;
}
.mobile {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.change1, .change2, .change3, .change1m, .change2m, .change3m {
  background-color: #fff;
  border-radius: 7.5rem;
  line-height: 1.3;
  margin: 2rem 1rem;
  padding: 3rem;
  text-align: left;
}
.change1, .change1m {
  border: .5rem solid rgba(5, 107, 189, .6);
}
.change2, .change2m {
  border: .5rem solid rgba(243, 204, 45, .8);
}
.change3, .change3m {
  border: .5rem solid rgba(20, 166, 67, .6);
}
.change1 {
  margin-bottom: 5rem;
}
.first-mobile {
  margin: auto;
  padding: 0 3rem;
  position: relative;
}
.blue-circle-1st {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: 0.5rem;
  top: 12%;
  width: 3rem;
}
.second-mobile {
  padding: 0 3rem;
  position: relative;
}
.blue-circle-2nd-a {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  left: .5rem;
  position:absolute;
  top: 16%;
  width: 3rem;
}
.blue-circle-2nd-b {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 31.5%;
  width: 3rem;
}
.yellow-circle-2nd {
  background-color: #F3CC2D;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 4%;
  width: 3rem;
}
.green-circle-2nd {
  background-color: #14A643;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 39.5%;
  width: 3rem;
}
.yellow-circle-3rd {
  background-color: #F3CC2D;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 2.5%;
  width: 3rem;
}
.green-circle-3rd {
  background-color: #14A643;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 23%;
  width: 3rem;
}
.third-mobile {
  padding: 0 3rem;
  position: relative;
}
.changes-media {
  display: none;
}
.change1m, .change2m, .change3m {
  display: none;
}
.change1, .change2, .change3 {
  display: flex;
}
.desktop {
  font-size: 1.6rem;
  margin: 5rem 0 2.5rem 0;
}
.first-desktop {
  padding: 0 3rem;
  position: relative;
}
.second-desktop {
  padding: 0 3rem;
  position: relative;
}
.third-desktop {
  padding: 0 3rem;
  position: relative;
}
.blue-circle-1st-d {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  left: 36%;
  position:absolute;
  top: -2.5rem;
  width: 3rem;
}
.blue-circle-2nd-a-d {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  left: .5rem;
  position:absolute;
  top: 7%;
  width: 3rem;
}
.blue-circle-2nd-b-d {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 3%;
  width: 3rem;
}
.blue-circle-2nd-c-d {
  background-color: #056bbd;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 18%;
  width: 3rem;
}
.green-circle-2nd-d {
  background-color: #14A643;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 39.5%;
  width: 3rem;
}
.green-circle-3rd-d {
  background-color: #14A643;
  border-radius: 50%;
  height: 3rem;
  position:absolute;
  right: .5rem;
  top: 14%;
  width: 3rem;
}
/***preference testing***/
.pref-testing{
  margin: 0 1rem;
}
.text-pref {
  margin: auto;
}
.pref-img {
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  box-shadow: 0 .2rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  grid-column-gap: 1rem;
  justify-content: center;
  margin: auto;
  max-width: 64rem;
  padding: 2.5rem 2rem;
  text-align: center;
}
.question {
  font-size: 1.6rem;
  grid-area: question;
  text-align: center;
  width: 100%;
}
.button-square > h4, .button-round > h4 {
  font-size: 1.6rem;
}
.button-square, .button-round {
  background-color: #104547;
  color: #fff;
  font-weight: bold;
  margin: 3rem 0 .5rem;
  padding: .5rem 0;
  text-align: center;
}
.square {
  grid-area: square;
  margin: 0 auto;
  text-align: center;
  width: 20rem;
}
.button-square {
  border-radius: .5rem;
}
.round {
  grid-area: round;
  margin: 0 auto;
  text-align: center;
  width: 20rem;
}
.button-round {
  border-radius: 5rem;
}
/****************************************************************CONCLUSION***/
.conclusion {
  background-color: #fff;
  border-radius: 7.5rem 0;
  margin-bottom: 5rem;
  padding-right: 1rem;
  margin-top: -15rem;
  padding: 5rem 1rem 1rem;
  position: relative;
  width: 100%;
}
.conclusion img {
  display: flex;
  height: 5rem;
  justify-content: center;
  margin: 2rem 0 5rem;
}
.conc-list p {
  padding: 0;
}
/*********MORE PROJECTS********/
.more > h1{
  font-size: 2.4rem;
}
.to-top {
  text-align: center;
}
div.blocjams > figure {
  height: 7.5rem;
  margin: 2.5rem auto;
}
div.busybus > h2 {
  font-size: 2.4rem;
  height: 7.5rem;
  margin-top: 2.5rem;
  padding-top: 2rem;
}
.busybus > p {
  padding-top: 2.5rem;
}
.busybus {
  align-items: center;
  display: flex;
  /* margin-bottom: 5rem; */
  max-width: 70ch;
  min-width: 50ch;
}
.blocjams {
  align-items: center;
  display: flex;
  /* margin-bottom: 5rem; */
}
.blocjams, .busybus {
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 0 1.5rem;
}
.blocjams > p, .busybus > p {
  font-size: 1.6rem;
  margin: -2rem 1rem;
}
h1.more {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight:bold;
}
.see-more {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}
/***********CONNECT***********/
footer > figure {
  width: 15%;
}
.connect {
  background-color: #056BBD;
  border-top-left-radius: 10rem;
  padding-top: 5rem;
  text-align: center;
}
.connect > h2 {
  color: #fff;
}
.social {
  display: flex;
  grid-gap: 2rem;
  justify-content: center;
  margin: 5rem auto 0;
  padding-bottom: 2rem;
  width: 50%;
}
/*******************MEDIA QUERIES*********************/
/* TABLET */
@media screen and (min-width: 45rem) {
  /* typography */
  p {
    margin: auto;
  }
  h2 {
    font-size: 2rem;
  }
  /* hero */
  .camelot-logo {
    margin: auto;
    max-width: 50vw;
  }
  .text-hero {
    margin: auto;
    max-width: 66ch;
  }
  .camelot-landing {
    margin: auto;
    max-width:75vw
  }
  /* problem/solution */
  .prob-sol {
    margin: auto;
    max-width: 66ch;
  }
  /* DISCOVERY */
  /* user research */
  .user-research {
    margin: auto;
  }
  .chart {
    max-width:50%;
    min-width: 30rem;
  }
  /* STRATEGY */
  /* competitive analysis */
  .comp-analysis {
    margin: auto;
  }
  /* user personas */
  .text-personas {
    margin: auto;
  }
  .persona-img {
    display: flex;
    justify-content: center;
  }
  /* INFORMATION ARCHITECTURE */
  /* user stories */
  .text-stories {
    margin: auto;
  }
  .list-stories {
    margin: auto;
    max-width: 64rem;
  }
  /* user flows */
  .text-flows {
    margin: 5rem auto 0;
  }
  /* wireframes */
  .text-wireframes {
    margin: 5rem auto 0;
  }
  /* mockups */
  .text-mockups {
    margin: auto;
  }

  /* VISUAL DESIGN */
  /* logo */
  .text-logo-1 {
    margin: auto;
  }
  .text-logo-2 {
    margin: auto;
  }
  /* typography */
  .text-type {
    margin: auto;
  }
  /* style guide */
  .text-style {
    margin: auto;
  }
  /* prototypes */
  .text-prototypes {
    margin: auto;
  }
  .mobile {
    font-size: 2rem;
  }
  .changes-media {
    display: none;
  }
  .changes-mobile {
    justify-content: center;
    margin: auto;
  }
  .first-mobile, .second-mobile, .third-mobile {
    margin: auto;
    width: 50%;
  }
  .first-desktop, .second-desktop, .third-desktop {
    margin: auto;
    width: 75%;
  }
  .change1, .change2, .change3 {
    margin: 5rem auto;
    width: 50%;
  }
  .desktop {
    font-size: 2rem;
  }
  .changes-desktop {
    margin: auto;
  }
  /* preference testing */
  .pref-text {
    margin: auto;
  }
  .square {
    margin: 0 2rem;
  }
  .round {
    margin: 0 2rem;
  }
  .button-square > h4, .button-round > h4 {
    font-size: 2rem;
  }
  /* CONCLUSION */
  .conclusion {
    margin: -15rem auto 0;
  }
  .conc-list {
    margin: auto;
  }
/* SEE MORE PROJECTS */
  .see-more {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    min-width: 20rem;
  }
  .blocjams {
    max-width: 50%;
  }
  .busybus {
    max-width: 50%;
  }
  div.blocjams > figure {
    height: 7.5rem;
  }
  div.busybus > h2 {
    align-items: center;
    display: flex;
    font-size: 2.4rem;
    height: 7.5rem;
    margin: 2.5rem auto;
  }
  .blocjams > p, .busybus > p {
    padding: 2.5rem;
  }
  /* CONTACT */
  .social {
    max-width: 33%;
  }
}

/* DESKTOP */
@media screen and (min-width: 70rem) {
  .container {
    width: 100%;
  }
  /* typography */
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    text-align: left;
  }
  p {
    margin: 0 auto;
  }
  /******************NAV********************/
  .navbar {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 5.7rem;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .navbar a {
    color: #056BBD;
    font-family: "Cabin", "Open Sans", sans-serif;
    font-size: 1.6rem;
  }
  .hamburger-nav {
    display: none;
  }
  .links {
    align-items: center;
    display: flex;
    grid-gap: 20rem;
    justify-content: flex-end;
    width: 100%;
  }
  nav a {
    text-decoration: none;
  }
  nav a img {
    width: auto;
  }
  /***************HERO**************/
  .hero {
    padding: 10rem 2rem 5rem;
  }
  .camelot-logo {
    margin: 0 auto;
    max-width: 100ch;
    padding-top: 5rem;
  }
  .text-hero {
    margin: 5rem auto;
    max-width: 66ch;
    min-width: 33ch;
  }
  .camelot-landing {
    margin: 0 auto;
    max-width: 200ch;
  }
  /******PROBLEM/SOLUTION******/
  .prob-sol {
    display: flex;
    flex-direction: row;
    grid-column-gap: 5rem;
    margin: 5rem auto;
    max-width: 190ch;
    padding: 5rem 2rem 0;
    text-align: center;
  }
/************DISCOVERY*****************/
  .text-disc {
    margin: 5rem 0 2.5rem 20vw;
    text-transform: uppercase;
  }
  /* user research */
  .user-research {
    margin-bottom: 5rem;
    width: 100%;
  }
  .chart {
    padding-bottom: 5rem;
  }
  /************STRATEGY****************/
  .strategy {
    padding: 12rem 0 16rem;
  }
  .text-strat {
    margin: 5rem 0 2.5rem 20vw;
    text-align: center;
    text-transform: uppercase;
  }
  /* competitive analysis */
  .comp-analysis {
    margin-bottom: 5rem;
  }
  /* user personas */
  .personas {
    margin-bottom: 5rem;
  }
  .persona-img {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: -2.5rem auto;
    width: 30%;
  }
  .text-personas {
    margin-bottom:.5rem;
  }
  /****************INFORMATION ARCHITECTURE*****************/
  .text-info {
    margin: 5rem 0 2.5rem 20vw;
  }
  /* user stories */
  .user-stories {
    margin-bottom: 7.5rem;
  }
  .stories {
    margin-bottom: .5rem;
  }
  .high-pri {
    grid-area: high-pri;
  }
  .new-user {
    grid-area: new-user;
  }
  .returning-user {
    grid-area: returning-user;
  }
  /* user flows */
  .text-flows {
    margin-bottom: .5rem;
  }
  .img-flows {
    display: none;
  }
  .img-flows-mq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7.5rem;
  }
  .sign-up-mq {
    width: 100%;
  }
  .sign-in-mq {
    margin-top: 5rem;
    max-width: 30%;
  }
  .upload-mq {
    margin-top: 5rem;
    max-width: 30%;
  }
  .organize-mq {
    margin-top: 5rem;
    max-width: 30%;
  }
  #myImg-sign-in {
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg-sign-in:hover {
    opacity: 0.7;
  }
  .modal-sign-in {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .modal-content-sign-in {
    margin: auto;
    display: block;
    width: 80%;
  }
  #caption-sign-in {
    color: #ccc;
    display: block;
    height: 15rem;
    margin: auto;
    max-width: 70rem;
    padding: 1rem 0;
    text-align: center;
    width: 80%;
  }
  .modal-content-sign-in, #caption-sign-in {
    animation-duration: 0.6s;
    animation-name: zoom;
  }
  /* @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  } */
  .close-sign-in {
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    right: 3.5rem;
    top: 5rem;
    transition: 0.3s;
    right: 3.5rem;
  }
  .close-sign-in:hover,
  .close-sign-in:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
  }
  #myImg-upload {
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg-upload:hover {
    opacity: 0.7;
  }
  .modal-upload {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .modal-content-upload {
    margin: auto;
    display: block;
    width: 80%;
  }
  #caption-upload {
    color: #ccc;
    display: block;
    height: 15rem;
    margin: auto;
    max-width: 70rem;
    padding: 1rem 0;
    text-align: center;
    width: 80%;
  }
  .modal-content-upload, #caption-upload {
    animation-duration: 0.6s;
    animation-name: zoom;
  }
  /* @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  } */
  .close-upload {
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    right: 3.5rem;
    top: 5rem;
    transition: 0.3s;
  }
  .close-upload:hover,
  .close-upload:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
  }
  #myImg-organize {
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg-upload-organize :hover {opacity: 0.7;}
  .modal-organize  {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .modal-content-organize  {
    display: block;
    margin: auto;
    width: 80%;
  }
  #caption-organize  {
    color: #ccc;
    display: block;
    height: 15rem;
    margin: auto;
    max-width: 70rem;
    padding: 1rem 0;
    text-align: center;
    width: 80%;
  }
  .modal-content-organize , #caption-organize  {
    animation-duration: 0.6s;
    animation-name: zoom;
  }
  /* @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  } */
  .close-organize  {
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    right: 3.5rem;
    top: 5rem;
    transition: 0.3s;
  }
  .close-organize :hover,
  .close-organize :focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
  }
  /* wireframes */
  .text-wireframes {
    margin-bottom: .5rem;
  }
  .img-wire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 5rem;
    justify-content:center;
    width: 100%;
  }
  /* mockups */
  .mockups {
    padding-bottom: 5rem;
  }
  .text-mockups {
    margin-bottom: .5rem;
    padding-top: 2.5rem;
  }
  .img-mock {
    display: grid;
    grid-template-areas:
    "landing-wire    dash-wire"
    "landing-wire    upload-wire";
    grid-template-columns: 51.29% 48.71%;
    margin: 0 auto;
  }
  .landing-wire {
    grid-area: landing-wire;
    margin-bottom: -4rem;
  }
  .dash-wire {
    grid-area: dash-wire;
  }
  .upload-wire {
    grid-area: upload-wire;
    margin-bottom: -4rem;
  }
  /*********VISUAL DESIGN*******/
  .visual-design {
    margin-bottom: -12.5rem;
  }
  .text-visual {
    margin: 5rem 0 2.5rem 20vw;
  }
/*************logo**************/
  .logo-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 5rem;
    justify-content: center;
    margin: .5rem auto 2rem;
  }
/*********typography***********/
  .text-type {
    margin: 2.5rem 0 -2rem 0;
  }
/***********style guide********/
  .style-guide {
    display: flex;
    flex-direction: column;
    margin-bottom: -2.5rem;
  }
  .text-style {
    margin-bottom: -2rem;
  }
  .img-style {
    display: none;
  }
  .img-style-media {
    display: flex;
    margin-bottom: 5rem;
  }
/**********prototypes**********/
  .prototypes {
    display: flex;
    flex-direction: column;
  }
  .text-prototypes {
    margin-bottom: .5rem;
  }
  .changes-mobile {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    width: 100%;
  }
  .first-mobile, .second-mobile, .third-mobile {
    margin: 0 5%;
  }
  .first-desktop, .second-desktop, .third-desktop {
    margin: auto;
  }
  .change1m, .change2m, .change3m {
    display: flex;
    max-width: 30%;
  }
  .change1, .change2, .change3 {
    display: none;
  }
  .changes-media {
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .first-mobile {
      margin-top: 0rem;
  }
  .desktop {
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  .changes-desktop {
    align-items: baseline;
    display: flex;
    width: 100%;
  }
/**********************preference testing************************/
  .pref-testing {
    margin: 5rem 0;
  }
  .text-pref {
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
  .pref-img {
    margin-top: -2rem;
    width: 33%;
  }
  .pref-img > h3 {
    padding-top: 2rem;
  }
/********CONCLUSION**********/
  .conclusion {
    margin-bottom: 5rem;
    padding-top: 10rem;
  }
  .text-conclusion {
    margin-bottom: 2.5rem;
  }
  .conc-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "roles      deliverables  tools"
    "roles-icon deliv-icon    tools-icon";
    max-width: 64rem;
    min-width: 24rem;
  }
  .roles {
    grid-area: roles;
  }
  .deliverables {
    grid-area: deliverables;
    margin-bottom: 5rem;
  }
  .tools {
    grid-area: tools;
  }
  .roles-icon {
    grid-area: roles-icon;
    margin: 0 auto 5rem;
  }
  .deliv-icon {
    grid-area: deliv-icon;
    margin: 0 auto;
  }
  .tools-icon {
    grid-area: tools-icon;
    margin: 0 auto;
  }
  /*********MORE PROJECTS********/
  .more {
    padding-top: 1rem;
  }
  .more > h1{
    font-size: 3.6rem;
  }
  .blocjams {
    max-width: 50rem;
  }
  .busybus {
    max-width: 50rem;
  }
  .see-more {
    display: flex;
    margin: 5rem auto 5rem;
    justify-content: center;
    max-width: 65vw;
    min-width: 100rem;
  }
  div.blocjams > figure {
    height: 7.5rem;
  }
  div.busybus > h2 {
    align-items: center;
    display: flex;
    font-size: 3.6rem;
    height: 7.5rem;
    margin: 2.5rem auto;
  }
  .blocjams > p, .busybus > p {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 2.5rem;
  }
  /***********CONNECT***********/
  footer img {
    width: 5rem;
  }
  .connect > h2 {
    font-size: 2.4rem;
  }
  #contact {
    margin-top: 5rem;
  }
  .social {
    grid-gap: 5rem;
    margin-top: 5rem;
    width: 75%;
  }
}
