/*portfolio*/
/*#E3EFFA #FFF7D5*/

/*** structure ***/
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: linear-gradient(#E2EFFA 50%, #FFF7D5  50%);
  line-height: 1.75;
}
.container {
  width: 100%;
}
.description {
  background-color: #fff;
  border-radius: 5rem;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin: auto;
  max-width: 66ch;
  padding: 5rem 2rem;
}
.description h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.cta {
  background-color: #056BBD;
  border-radius: 5rem;
  color: #fff;
  font-family: "Montserrat","Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: max-content;
  z-index: 2;
}
/***typography***/
h1 {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-weight:bold;
  text-align: center;
}
h2 {
  font-family: "Cabin", "Open Sans",sans-serif;
  font-size: 1.6rem;
  text-align: center;
}
h3 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}
p {
  font-family: "Cabin", "Open Sans", sans-serif;
  font-size: 1.6rem;
}
ul > li {
  text-align: center;
}
/***NAV***/
.navbar {
  display: none;
}
 .hamburger-nav {
  background-color: #fff;
  border-bottom: .1rem solid rgb(243, 204, 45, 0.5);
  height: 5rem;
  opacity: .95;
  padding:3rem 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.cm-logo {
  height: 5.12rem;
  left:1rem;
  position: absolute;
  top: .5rem;
  width:auto;
  z-index: 5;
}
.btn-toggle-nav {
  background-image: url("/images/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 4rem;
  z-index: 5;
}
.nav-menu {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  right: 0;
  top: 5rem;
  transition: all .7s ease-in-out;
  width: 0rem;
  z-index: 5;
}
.nav-menu ul {
  padding: 0 .5rem 5rem;
  visibility: hidden;
}
.nav-menu ul li {
  list-style: none;
  padding-top: 5rem;
}
.nav-menu ul li a  {
  color: #056BBD;
  display: block;
  font-family: "Montserrat", "Open Sans", "sans-serif";
  font-size: 2.4rem;
  font-weight: 600;
  height: 6rem;
  opacity: 0;
  padding: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-sidear ul li a:hover {
  background-color: #fff;
}
/***HERO***/
.hero {
  background-color: #fff;
  border-bottom-right-radius: 10rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.hero img {
  border-bottom-right-radius: 10rem;
  margin-top: -10rem;
  max-width: 100vw;
}
/***CAMELOT***/
 .camelot {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem auto;
}
.camelot img {
  margin: auto 1rem;
  max-width: 95%;
  padding-bottom: 2.5rem;
}
.description figure {
  display: flex;
  margin: auto;
  max-width: 100%;
}
/***BUSYBUS***/
.busybus {
  background-color: #fff;
  border-radius:10rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.busybus .description {
  background-color: transparent;
  margin: 0;
}
.busybus img {
  max-width:95%;
  padding-top: 5rem;
}
.busybus  h1 {
  text-align: center;
}
/***BLOCJAMS***/
.blocjams {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem auto;
}
.blocjams img {
  margin: auto 1rem;
  max-width: 95%;
  padding-bottom: 2.5rem;
}
/***CONNECT***/
.connect {
  background-color: #056BBD;
  border-top-left-radius: 10rem;
  padding: 10% 20% 1rem;
  text-align: center;
}
.connect h2 {
  color: #fff;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  margin: 3rem auto 0;
  max-width: 40%;
}
.social img {
  padding: 1rem;
  width: 6rem;
}
/***MEDIA QUERIES***/
/***TABLET***/
@media (min-width: 45rem) {
  .description {
    margin-left: 2rem;
    max-height: 50rem;
    min-width: 60ch;
  }
  .description figure {
    max-width: 90%;
  }
  .hero {
    display: flex;
    flex-direction: row;
  }
  .hero img {
    margin-top: 15rem;
    width: 50vw;
  }
  .hero .description {
    margin: auto;
    max-height: 40rem;
  }
  .camelot {
    background-color: #e2effa;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5rem 0;
    padding-bottom: 20rem;
  }
  .camelot img {
    padding-bottom: 0;
  }
  .camelot-img img {
    max-width: 50vw;
  }
  .busybus {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: -20rem;
  }
  .busybus .description {
    max-height: 37.5rem;
  }
  .busybus img {
    padding-bottom: 5rem;
    padding-left: 5rem;
  }
  .blocjams {
    flex-direction: row-reverse;
  }
  .blocjams img {
    max-width: 50vw;
    padding-bottom: 0;
  }
  .connect h2 {
    font-size: 2rem;
  }
}
/***DESKTOP***/
@media (min-width: 70rem) {
  h1 {
    font-size: 3.6rem;
    text-align: left;
  }
  h2 {
    font-family: "Montserrat", "Open Sans",sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: left;
  }
  .cta {
    margin: 0;
  }
  .cm-logo {
    padding-left: 5rem;
    padding-top: 1rem;
    position: absolute;
    width:auto;
    z-index: 5;
  }
  .navbar {
    align-items: center;
    background-color: #fff;
    border-bottom: .1rem solid rgb(243, 204, 45, 0.5);
    display: flex;
    height: 8rem;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .navbar a {
    color: #056BBD;
    font-family: "Cabin", "Open Sans", sans-serif;
    font-size: 1.6rem;
  }
  .hamburger-nav {
    display: none;
  }
  .links {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .links a {
    padding: 5rem;
  }
  nav a {
      text-decoration: none;
    }
  nav a img {
      width: auto;
    }
  .hero {
    align-items: center;
    border-bottom-right-radius: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 10rem;
  }
  .hero .description {
    margin: 0;
    max-height: none;
  }
  .hero img {
    border-radius: 5rem;
    margin: 0 auto;
    max-width: 65rem;
  }
  .description {
    margin-right:5rem;
    max-width: 100ch;
    min-width: 25rem;
    padding: 5rem;
  }
  .camelot {
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem;
  }
  .camelot-img figure img {
    max-width: 100%;
  }
  .busybus {
    justify-content: center;
  }
  .busybus .description {
    background-color: transparent;
    margin-right:3rem;
   }
  .busybus h1 {
    text-align: left;
  }
  .busybus img {
    max-width: 100%;
    padding: 5rem 17rem 5rem 20rem;
  }
  .blocjams {
    align-items: center;
    margin: 5rem 0;
  }
  .blocjams img {
    max-width: 100%;
  }
}
